*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
.rvmrc
bin/*.~
*/*.~
lang/*.rb~
bin/lang.rb~
lib/tokens.rb~
src/lexer.rb~
test/spec_helper.rb~
